<html ng-app="empanadas">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Anotador de Empanadas</title>
	<link rel="stylesheet" href="css/jquerytheme.min.css" />
	<link rel="stylesheet" href="css/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="css/jquery.mobile.structure-1.4.3.min.css" />
	<script src="js/lib/jquery-1.11.1.min.js"></script>
	<script src="js/lib/jquery.mobile-1.4.3.min.js"></script>
	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/angular-touch.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/controllers/mainController.js"></script>
</head>

<body ng-controller="mainController">
	<div data-role="page" data-theme="a">
	<div data-role="panel" id="setPanel"> 
    	<h2>Settings</h2>
    	<fieldset data-role="controlgroup"  data-type="horizontal" data-role="fieldcontain">
			<legend>Dividir en Docenas:</legend>
			<input type="radio" name="radio-choice-a1" id="radio-choice-a1" value="on" ng-checked="sichecked" ng-click="docOn()"/>
			<label for="radio-choice-a1">Si</label>
			<input type="radio" name="radio-choice-a1" id="radio-choice-b1" value="off" ng-checked="nochecked" ng-click="docOff()"/>
			<label for="radio-choice-b1">No</label>
		</fieldset>
		<label for="slider1">Empanadas por Defecto:</label>
		<input type="range" name="slider1" id="defecto" value='{{cantdefecto}}' min="0" max="10" data-theme="a" ng-init='val' ng-model="cantdefecto" ng-change='defectochange()'/>
	</div> 
	<div data-role="panel" id="prePanel" data-position='right' data-position-fixed='true' data-display='overlay'>
		<ul data-role='listview'>
			<li ng-repeat='prefab in prefabs'><a href='#' ng-click='addpre(prefab.name)'>{{prefab.name}}</a></li>
		</ul>
	</div>
	<div data-role="header" data-position="inline">
		<a href="#setPanel" class="ui-btn ui-corner-all ui-shadow ui-icon-gear ui-btn-icon-left ui-btn-icon-notext"></a>
		<h1>Anotador de Empanadas</h1>
		<a href="#prePanel" class="ui-btn ui-corner-all ui-shadow ui-icon-grid ui-btn-icon-left ui-btn-icon-notext"></a>
	</div>
	<div data-role="content" data-theme="a" >
		<div id="contenido">
	      <label for="fname">Tipo</label>
	      <form ng-submit="addcustom()">
	      	<input type="text" name="fname" ng-model='customtext' id="fname" data-clear-btn="true">
	      </form>
	      <br>
	      	<span ng-show="undoshow" ng-click="undo()">Undo</span>
	   		<div ng-repeat="empanada in empanadas track by $index" ng-swipe-left="delete($index)" ng-show="empShow" style="cursor: pointer">
				<span>{{empanada.name}} : </span><div id='{{empanada.id}}'><a href='#' ng-click='add($index)'>+  </a><span class='empanadas'>{{empanada.value}}</span><a href='#' ng-click='res($index)'>  -</a></div>
			</div>
		</div>
		<pre ng-show="totalshow"> Total: <span ng-bind="total.valor()"></span> empanadas.</pre>
		<button class="ui-btn" id="boton" ng-click="calcular()">Calcular</button> 
	</div>
</div>

</body>
</html>